.ClientsHeader {
  width: 339px;
  border: 1px solid red;
  height: 80px;
}

.Box-one {
  display: flex;
  align-items: flex-end;
}
.Clients-Image {
  top: 16px;
  left: 80px;
  width: 107px;
  height: 44px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.Creation-Time {
  top: 33px;
  left: 224px;
  width: 98px;
  height: 19px;
  text-align: left;
  font: normal normal normal 16px/19px Louis George Café;
  letter-spacing: 0px;
  color: #3cc3f2;
  opacity: 1;
}
.AddBoxIcon {
  display: flex;
  justify-content: flex-end;

  align-items: center;
  width: 60px;
  height: 45px;
}
.box-two {
  display: flex;
  align-items: flex-end;

  top: 68px;
  left: 80px;
  width: 339px;
  height: 33px;
}
.searchTerm {
  display: flex;
  align-items: flex-end;
  width: 400px;
  height: 27px;
}
.searchButton {
  width: 40px;
  height: 33px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.month-select {
  top: 109px;
  left: 72px;
  width: 340px;
  height: 31px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  background-color: #ebf2f5;
}
