.ClientsHeader {
  width: 339px;
  border: 1px solid red;
  height: 80px;
}

.Box-one {
  display: flex;
}
.Clients-Image {
  top: 16px;
  left: 80px;
  width: 107px;
  height: 44px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.Creation-Time {
  top: 33px;
  left: 224px;
  width: 98px;
  height: 19px;
  text-align: left;
  font: normal normal normal 16px/19px Louis George Café;
  letter-spacing: 0px;
  color: #3cc3f2;
  opacity: 1;
}
.AddBoxIcon {
  top: 21px;
  left: 498px;
  width: 32px;
  height: 32px;
  opacity: 1;
}

.Box-two {
  top: 68px;
  left: 80px;
  width: 339px;
  height: 33px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
