.toggle--button {
  height: 62px;
  width: 15vw;
  margin-top: 1%;
  border: none;
  font-size: 25px;
  background-color: white;
  color: #112949;
  cursor: pointer;
  box-shadow: 2px 2px 3px #00000029;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  opacity: 1;
}

.toggle--close {
  background-color: #112949;
  color: white;
}
.card-child {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
