.SideBody-Container {
  top: 0px;
  left: 0px;
  width: 340px;
  /* width: 465px;
height: 109px; */
  /* background: transparent 0% 0% no-repeat padding-box; */
  box-shadow: 0px 1px 6px #00000029;
  opacity: 1;
}
