.SideRibbon-Container {
  top: 0px;
  left: 0px;
  /* width: 72px; */
  height: 100%;
  /* transform: matrix(0, 1, -1, 0, 0, 0); */
  background: transparent linear-gradient(90deg, #112949 0%, #000000 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 3px 0px 3px #00000029;
  opacity: 1;
}
.side-btnfirst {
  margin-top: 95px;
  top: 120px;
  left: 16px;
  width: 40px;
  height: 40px;
  background: #eb9cba 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
}

.side-btn {
  margin-top: 15px;
  top: 120px;
  left: 16px;
  width: 40px;
  height: 40px;
  background: #eb9cba 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
}
