.toggle--button{
    height: 50px;
    width: 500px;
    margin-top: 15%;
    border: none;
    font-size: 25px;
    background-color: white;
    color: #112949;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
  
  .toggle--close{
    background-color: #112949;
    color: white;
  }